<h2><%= @user.nickname %>さんのマイページ</h2>

<% if @user.avatar_image.attached? %>
  <%= image_tag @user.avatar_image.variant(resize_to_limit: [150, 150]), 
                alt: "#{@user.nickname}のプロフィール画像", 
                class: "rounded-circle mb-3" %>
<% else %>
  <%= image_tag "no_avatar.png", alt: "プロフィール画像なし", class: "rounded-circle mb-3",size: "150x150" %>
<% end %>

<p>ニックネーム: <%= @user.nickname %></p>
<p>自己紹介: <%= @user.introduction %></p>
